[run]
source = src
omit =  src/tests/**,
        src/index.py,
        src/AppLibrary.py,
        src/app.py,
        src/db.py,
        src/entities*
        src/initialize_database.py,
        src/routes.py,
        src/config.py
