{% extends "layout.html" %}
{% block title %}Etusivu{% endblock %}
{% block body %}

{% if session.has_visited %}
    <h2>Olet kirjautunut ulos!</h2>
{% else %}
    <h2>Tervetuloa sovellukseen!</h2>
{% endif %}

<h3>Kirjautuminen</h3>
<form action="/login" method="POST">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
Tunnus: <input type="text" name="username" value={{entered_username}}> <br>
Salasana: <input type="password" name="password" value="{{entered_pass}}"> <br>
<input type="submit" value="Kirjaudu">
</form>
<h4>Ei vielä käyttäjätunnusta?</h4>
<a href="/register">Luo uusi käyttäjä</a>
{% endblock %}