{% extends "layout.html" %}
{% block title %}Rekisteröityminen{% endblock %}
{% block body %}
{% if session.user_id %}
Olet kirjautunut nimellä
{{session.username}}<br>
{% endif %}

{% with messages = get_flashed_messages() %}
{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
{% endwith %}

<form action="/new_tip" method="POST">
Otsikko: <input type="text" name="title" value="{{entered_title}}"> <br>
Linkki: <input type="text" name="link" value="{{entered_link}}"> <br>
<input type="submit" value="Lisää vinkki" class="button">
</form>
{% endblock %}